/* ==========Make by An 2019 -Booking =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}


/* globals */

body {
    padding-top: 30px;
    color: var(--mainBlack);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    background: #f5f5f0;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.picon {
    color: gray;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    background: white;
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
}

.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}

.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
}

.facilities {
    margin-top: 1.1rem;
    background: #FFFFFF;
    text-align: center;
    height: 22rem;
    position: relative;
}

@media screen and (max-width: 810px) {
    .facilities {
        width: 100%;
        max-height: 30px;
        display: inline-block;
    }
    .iconHome {
        min-width: 40px;
        min-height: 40px;
    }
    .gellery_control {
        display: flex;
        flex-direction: column;
    }
    .col-lg-4 {
        max-width: 50px;
        max-height: 50px;
    }
    .picon {
        display: none;
        max-height: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .row1,
    .row2 {
        display: flex;
        flex-direction: column;
    }
    .advantages_item {
        margin-top: 15%;
        float: left;
        margin-right: 5%;
    }
    .advantages_decription {
        width: 10rem;
    }
    .picon {
        display: none;
    }
}

.container {
    margin-top: 0.1rem;
    margin-bottom: auto;
}

.col-lg-4 {
    width: 20%;
    margin: 4rem;
}

.row .col-lg-4 {
    display: inline-block;
}

.icon_box_icon {
    margin-left: auto;
    margin-right: auto;
}

.iconHome {
    width: 20%;
    height: 20%;
}

.icon_box_title {
    margin-top: 1rem;
}

.icon_box_text {
    margin-top: 1rem;
}

.booking {
    text-align: center;
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 5rem;
}

.booking_text {
    margin-top: 28px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.booking_slider_container {
    margin-top: 63px;
}

.owl-carousel .booking_item {
    display: inline-block;
    margin: 20px;
}

.booking_price {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 128px;
    height: 36px;
    background: #ffffff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    color: #393939;
}

.booking_item {
    height: 500px;
}

.booking_item:hover .booking_overlay {
    visibility: visible;
    opacity: 1;
}

.owl-carousel {
    height: 100%;
}

.background_image {
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.booking_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 803px;
    background: rgba(13, 9, 30, 0.67);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.booking_link {
    bottom: 18px;
    left: 15px;
    width: calc(100% - 30px);
    height: 65px;
    background: var(--primaryColor);
    text-align: center;
}

.booking_link a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 30%;
}

.gellery_control {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.background_gallery {
    margin: 1.2rem;
    width: 20%;
    height: 20%;
}

.advantages {
    text-align: center;
    background: url("images/advantages.jpg") no-repeat fixed center;
    width: 100%;
    height: 40%;
    padding: 5rem;
}

.row1,
.row2 {
    display: flex;
    opacity: 1;
    margin-top: 5rem;
}

.advantages_item {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.advantages_col {
    display: flex;
    flex-direction: column;
}

.advantages_title {
    height: 4.2rem;
    text-align: left;
    top: 0;
    color: #c19b76;
    font-size: 20px;
}

.advantages_img {
    width: 5em;
    height: 5em;
    margin-right: 1rem;
}

.advantages_title1 {
    color: #c19b76;
    font-size: 20px;
}

.advantages_title2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.advantages_decription {
    color: white;
    text-align: left;
    width: 350px;
}

.back2top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}


/* end of globals */


/* Navbar */

.navbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: var(--offWhite);
    z-index: 1;
    border-bottom: 3px solid var(--primaryColor);
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
}

.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
    color: var(--primaryColor);
}

.show-nav {
    height: 100px;
}

@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 4rem;
    }
    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}


/* end of navbar */


/* Hero */

.roomsHero {
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaultHero {
    min-height: calc(100vh - 66px);
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

slider>* {
    position: absolute;
    display: block;
    width: 100%;
    height: 800px;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url("./images/4.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url("./images/2.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url("./images/3.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url("./images/1.jpg");
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}


/* End of Hero */


/* Banner */

.banner {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    height: 800px;
    width: 100%;
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.banner .welcome {
    margin-top: 200px;
    color: var(--primaryColor);
    font-size: 25px;
}

.banner h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.banner div {
    width: 10rem;
    height: 5px;
    background: var(--primaryColor);
    margin: 1.7rem auto;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
}


/* End of Banner */


/* Title */

.section-title {
    text-align: center;
    margin-bottom: 4rem;
}

.section-title h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}


/* end of Title */


/* services */

.service_tag {
    height: 500px;
}

.services {
    padding: 5rem 0;
}

.services {
    background: var(--darkGrey);
    text-align: center;
}

.services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

.service span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.services h6 {
    letter-spacing: var(--mainSpacing);
}

.services p {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .services-center {
        width: 95vw;
        max-width: 1170px;
    }
}

@media screen and (min-width: 1200px) {
    .services p {
        width: 100%;
    }
}


/*end of services */


/* footer */

@media screen and (min-width: 1200px) {
    .footer_container {
        height: 100%;
    }
}

.footer_container {
    background-color: #1c1c1c;
    height: 30%;
    font-family: "Playfair Display", serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer_container .title_contact,
.title {
    color: white;
}

.section_decription {
    color: gray;
}

.li_contact,
.title_contact,
.section_decription {
    display: inline;
}

.li_contact {
    margin-top: 50px;
}

.section_contact,
.section_main_menu,
.section_room,
.section_to_do {
    display: inline-block;
    margin: 50px;
    text-align: left;
}

.section_main_menu {
    margin-right: 200px;
}

.section_to_do {
    margin-right: 150px;
}

.title {
    font-family: "Playfair Display", serif;
}

.title_contact,
.link_menu,
.link_room,
.link_to_do {
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 18px;
}

.mail {
    color: var(--primaryColor);
    cursor: pointer;
}

.footer_container hr {
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.design_by {
    margin-top: 50px;
    color: var(--primaryColor);
}

.mail::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 50px;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.mail:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.menu1::after {
    content: '';
    position: absolute;
    width: 2.9%;
    height: 1px;
    bottom: 218px;
    left: 39.3%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu1:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.menu2::after {
    content: '';
    position: absolute;
    width: 5.07%;
    height: 1px;
    bottom: 170px;
    left: 39.3%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu2:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.menu3::after {
    content: '';
    position: absolute;
    width: 3.27%;
    height: 1px;
    bottom: 122px;
    left: 39.3%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu3:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.menu4::after {
    content: '';
    position: absolute;
    width: 4.3%;
    height: 1px;
    bottom: 74px;
    left: 39.3%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu4:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.todo1::after {
    content: '';
    position: absolute;
    width: 6.1%;
    height: 1px;
    bottom: 218px;
    left: 58.7%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.todo1:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.todo2::after {
    content: '';
    position: absolute;
    width: 7.2%;
    height: 1px;
    bottom: 170px;
    left: 58.7%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.todo2:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.todo3::after {
    content: '';
    position: absolute;
    width: 4.3%;
    height: 1px;
    bottom: 122px;
    left: 58.7%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.todo3:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.todo4::after {
    content: '';
    position: absolute;
    width: 2.7%;
    height: 1px;
    bottom: 74px;
    left: 58.7%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.todo4:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.linkroom1::after {
    content: '';
    position: absolute;
    width: 2.9%;
    height: 1px;
    bottom: 218px;
    left: 76.5%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.linkroom1:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.linkroom2::after {
    content: '';
    position: absolute;
    width: 2.9%;
    height: 1px;
    bottom: 170px;
    left: 76.5%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.linkroom2:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.linkroom3::after {
    content: '';
    position: absolute;
    width: 2.9%;
    height: 1px;
    bottom: 122px;
    left: 76.5%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.linkroom3:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.linkroom4::after {
    content: '';
    position: absolute;
    width: 2.9%;
    height: 1px;
    bottom: 74px;
    left: 76.5%;
    background-color: var(--primaryColor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.linkroom4:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}


/* end footer */